*{
    box-sizing: border-box;
}
html{
    width: 100%;
}
body{
    width: 100%;
    font-family: "Roboto Light", serif;
    size: 40px;
    line-height: 30px;
    font-size: 20px;
}
.flex-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 1% ;
    background-color: dodgerblue;
    justify-content: space-around;
    position: absolute;
    text-align: center;
    align-items: center;
}
.flex-container > div{

    text-align: center;

}
#entete{
    background-color: dodgerblue;
}
@media screen and (max-width: 900px) {
    .logo,.navbar,.login{
        width: 100%;
    }
}
.main{
    display: grid;
    width: 100%;
    grid-template-columns: 45% 55%;
    height: auto;
    background-color: dodgerblue;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 5%;
}
#image img{
    max-width: 100%;
    height: auto;
    background-color: dodgerblue;
}
#text{
    padding: 40% 5%;
    text-align: justify;
    color: white;
}
.main-items#text a{
    text-decoration: none;
    padding: 2% 10%;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;

}
.main-items#text p{
    margin-top: 10%;
    margin-bottom: 10%;
}
.main-items#text h1{
    font-size: 80px;
    width: 100%;

}
/* Desktop */
@media screen and (max-width: 900px) {
    .main{
        display: flex;
        flex-direction: column-reverse;
        order: revert;
    }
    #image{
        max-width: 100%;
        height: 100%
    }
}
/* mobile */
@media screen  and (max-width: 375px){
    .main{
        display: flex;
        width: 100%;
        text-align: center;
        flex-direction: column-reverse;
        order: revert;
    }
    .main-items #image{
        max-width: 100%;
        height: 100%;
        background-color: dodgerblue;
        position: absolute;
    }
    .main-items#text h1,p{
        text-align: center;
    }
}
.grid-container{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
#item1{
    text-align: left;
    background-color: dodgerblue;
    padding: 10% 5% 10% 18%;
    color: white;
}
.item1 h1{
    padding-top: 7%;
    padding-bottom: 7%;
}
.item1 h4{
    padding-top: 1%;
    padding-bottom: 1%;
}

#item2 img{
    max-width: 100%;
    height: auto;
    text-align: center;
}
#item3{
    padding: 10% 5% 10% 1%;
    background-color: darkblue;
}
#item3 img{
    max-width: 100%;
    height: auto;
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 5%;
    text-align: center;
}
#item4{
    background-color: dodgerblue;
    padding: 15%;
    color: white;
    text-align: left;
}
#item4 h1{
    padding-left: 3%;
    padding-top: 4%;
    padding-bottom: 4%;

}
#item4 li{
    list-style: none;

}

@media  screen  and (max-width: 900px){
.grid-container{
    display: grid;
    grid-template-columns: 100%;
}
    #item3 img{
        max-width: 100%;
        height: auto;
        text-align: center;
    }
    #item4{
        max-width: 100%;
        height: auto;
        text-align: center;
        background-color: #4169E1;
    }
}
.text-container{
    width: 100%;
    text-align: center;
    padding: 5% 20%;
}
@media screen  and (max-width: 900px){
    .text-container{
        text-align: center;
        padding-right: 10%;
        padding-left: 10%;
    }

}

/*=================================================================================*/
.contact-container{
    display: grid;
    width: 100%;
    grid-template-columns: 55% 45%;
    height: auto;
}
.contact-items#forms{
    padding: 10% 5% 10% 15%;
    height: auto;
}
.contact-items#forms h1,p{
    padding-left: 1%;
}
.contact-items#forms img{
    max-width: 100%;
    height: auto;
}
.contact-items#numbers {
    display: grid;
    grid-template-columns: 100%;
    height: auto;

    padding-top: 35%;
}
.contact-items#numbers #phones{
    background-color: #87CEFA;
    padding-top: 5%;
    padding-bottom: 5%;


}
.contact-items#numbers #search{
    background-color: #D3D3D3;
    padding-top: 5%;
    padding-bottom: 5%;

}

@media  only screen  and (max-width: 900px) {

    .contact-container > .contact-items#numbers {
        display: grid;
        width: 100%;
        padding-top: 5%;
        grid-template-columns: 100%;
        grid-row-gap: 10%;
        padding-bottom: 5%;
        height: auto;
    }
    .contact-container > .contact-items#forms{
        padding-left: 1%;
        padding-right: 1%;
        text-align: center;
    }
    .contact-container{
        display: grid;
        grid-template-columns: 100%;
        height: auto;
    }
    .contact-items#numbers #phones{
        background-color: #87CEFA;
        padding-top: 30%;
        padding-bottom: 30%;
        border-radius: 1%;
    }
    .contact-items#numbers #search{
        background-color: #D3D3D3;
        padding-top: 20%;
        padding-bottom: 20%;
        border-radius: 1%;
        margin-bottom: 10%;
    }

}
.start-container{
    width: 100%;
    padding: 5% 1%;
    text-align: center;
    background-color: #D3D3D3;
    margin-top: 5%;
    /*margin-bottom: 5%; */
}
.start-container h2{
    padding: 1%;
}
@media  screen  and (max-width: 900px){
    .start-container{
        text-align: center;
        padding: 5% 5%;
    }

}
.start-container a{
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    width: 500px;
    padding: 10px 30px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.social-container{
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
    border-style: outset;
}
.social-center{
    width: 100%;
    display: grid;
    background-color: white;
    grid-template-columns: 10% 10% 10% 10% 10%;
    grid-column-gap: initial;
    text-align: center;
    padding-left: 30%;
}
.footer-container{
    width: 100%;
    text-align: center;
    padding: 5% 1%;

}